# Gradle
.gradle/
build/
.kotlin/

# Keep Gradle Wrapper files
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# IntelliJ IDEA / JetBrains
.idea/
.idea
.idea/misc.xml
*.iml
*.iws
*.ipr
.idea/codeStyles/
out/

# Eclipse
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/
bin/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Java / Kotlin build artifacts
*.class
*.jar
*.war
*.ear
*.nar

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
desktop.ini